{{!-- pages/catalogs.hbs --}}

{{#> ../layouts/base title="Elit light - Catalogs" lang="ka" }}

    {{#*inline "main-block"}}
        <h1 id="page_title">კატალოგები</h1>
        <div id="catalogs">
            {{> ../includes/catalog image="images/1.jpg" title="აქ თქვენ იპოვით ყველანაირი ტიპის სანათებს" fileSize="1.4Mb" downloadLink="#"}}
            {{> ../includes/catalog image="images/2.jpg" title="მეის თიმეამ ან ეუმ, ფუთენთ მელიუს ინთელლეგამ მელ ეხ" fileSize="7.3Mb" downloadLink="#"}}
            {{> ../includes/catalog image="images/3.jpg" title="ფრი მაგნა იმფერდიეთ დისფუთანდო ეთ" fileSize="5.4Mb" downloadLink="#"}}
            {{> ../includes/catalog image="images/4.jpg" title="ლორემ იფსუმ დოლორ სით ამეთ, ფუგით თაციმათეს მანდამუს ნეც ეი" fileSize="8.9Mb" downloadLink="#"}}
            {{> ../includes/catalog image="images/5.jpg" title="ეთ ეოს სიმულ ეხერცი თემფორ, ვიმ ინ დიცთა სოლუთა ვერითუს, აუდირე ცონსთითუამ ათ ნამ" fileSize="15.2Mb" downloadLink="#"}}
        </div>
    {{/inline}}

{{/../layouts/base}}