{{!-- pages/news.hbs --}}

{{#> ../layouts/base title="Elit light - News" lang="ka" }}

    {{#*inline "main-block"}}
        <h1 id="page_title">სიახლეები</h1>
        <div id="news">
            {{> ../includes/news
                date="01.04.2016"
                title="აქ თქვენ იპოვით ყველანაირი ტიპის სანათებს"
                text="ლორემ იფსუმ დოლორ სით ამეთ, ფუგით თაციმათეს მანდამუს ნეც ეი, ვის ადმოდუმ ნომინათი მედიოცრემ ნო. გრაეცი ფაცილის ჰენდრერით ფრო ნე. ფრო ინ ფოფულო რათიონიბუს, იუს ლობორთის სცრიფსერით ვოლუფთათიბუს ეხ. ეუ სით ცონვენირე გუბერგრენ, ადმოდუმ დისსენთიეთ ეუ ველ. ეთ ეოს სიმულ ეხერცი თემფორ, ვიმ ინ დიცთა სოლუთა ვერითუს, აუდირე ცონსთითუამ ათ ნამ."
            }}
            {{> ../includes/news
                date="07.12.2016"
                title="მეის თიმეამ ან ეუმ, ფუთენთ მელიუს ინთელლეგამ მელ ეხ"
                text="იუს ნისლ ათყუი ეა. მეის თიმეამ ან ეუმ, ფუთენთ მელიუს ინთელლეგამ მელ ეხ. ან სიმულ ელაბორარეთ სეა. ეა მელ თათიონ სოლუთა, ვოლუთფათ ცონცეფთამ ათ მეა. ფრი ინვენირე ვოლუფთარია ცუ, თე სეა დელეცთუს რეფრეჰენდუნთ, ად უსუ ლიბერ ფერციფით ყუალისყუე. სედ ათ ვირთუთე სენსერით ინცორრუფთე."
            }}
            {{> ../includes/news
                date="16.06.2016"
                title="ფრი მაგნა იმფერდიეთ დისფუთანდო ეთ"
                text="ეოს ფრობო ვენიამ ეთ. ფრი მაგნა იმფერდიეთ დისფუთანდო ეთ. საფერეთ ელეიფენდ ფერსეცუთი ფერ ეი, ეხ ჰას მენთითუმ ადვერსარიუმ. უსუ ეუ დესერუნთ თაციმათეს ფროდესსეთ, ფრი ეთ აუდიამ."
            }}
        </div>
    {{/inline}}

{{/../layouts/base}}