{{!-- pages/partners.hbs --}}

{{#> ../layouts/base title="Elit light - Partners" lang="ka" }}

    {{#*inline "main-block"}}
        <h1 id="page_title">პარტნიორები</h1>
        <div id="partners">
            <img src="images/apple.png" alt="apple"/>
            <img src="images/ebay.png" alt="ebay"/>
            <img src="images/ferrary.png" alt="ferrary"/>
            <img src="images/shell.png" alt="shell"/>
            <img src="images/vw.png" alt="vw"/>
            <img src="images/yt.png" alt="yt"/>
            <img src="images/etsy.png" alt="etsy"/>
            <img src="images/amazon.png" alt="amazon"/>
        </div>
    {{/inline}}

{{/../layouts/base}}