@import "utils/fonts";

@import "utils/libs";
@import "utils/helpers";
@import "utils/elitlight-elements";

@import "modules/image-container.scss";
@import "modules/nav.scss";
@import "modules/slider.scss";
@import "modules/catalogs.scss";
@import "modules/contact-list.scss";
@import "modules/page.scss";
@import "modules/partners.scss";
@import "modules/news.scss";


@media all and (max-width: 1160px) {
    #main-container {
        margin: 50px auto;
    }
}

@include media-breakpoint-down(md) {
    .catalogue-form {
        .card-title {
            word-break: break-all;
        }

        .calalogue-img-col {
            display: none;
        }
    }

    header{
        #main-menu {
            border-radius: 12px;
            padding: 0;
            overflow: hidden;

            .nav-item {
                &:not(:first-of-type)::before {
                    display: none;
                }

                .nav-link:hover {
                    opacity: 1;
                    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 100%);
                }
            }

            .navbar-collapse {
                background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.2) 100%);
                border-top: 1px solid rgb(255, 48, 57);
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    header {
        #main-menu {
            #lang-soc-panel {
                position: absolute;
                right: 0;
                top: -91px;
                border-radius: 16px/100%;
                box-shadow: -4px 0px 4px rgba(0,0,0,.25) inset;

                & > *:hover {
                    box-shadow: 0 0 8px rgba(0,0,0,.35);
                }
            }
        }
    }

    #main-container {
        max-width: 960px;
    }
}