<div class="card h-100 catalogue-form el-light-panel">
    <div class="card-body row align-items-center">
        <div class="col-auto calalogue-img-col">
            {{> ../includes/image image=image alt=alt ratio="ratio-1by1" padding="p-1"}}
        </div>
        <div class="col p-lg-0">
            <h4 class="card-title mb-0">{{title}}</h4>
        </div>
        <div class="col-auto text-center">
            <h6 class="card-subtitle mb-1 text-muted no-wrap sm-catalogue-size">{{fileSize}}</h6>
            <a href="{{downloadLink}}" class="el-btn a-block fs-0 py-1 px-3 d-ib">
                <i data-feather="download"></i>
            </a>
        </div>
    </div>
</div>