<li class="slider-item">
    <div class="slide el-dark-panel p-1 p-md-2">
        <div class="slide-image-container ratio-container">
            <img src="images/uploads/{{si_1}}" alt="">
            <img src="images/uploads/{{si_2}}" alt="">
            <img src="images/uploads/{{si_3}}" alt="">
            <img src="images/uploads/{{si_4}}" alt="">
        </div>
    </div>
</li>