.fs-0 {
    font-size: 0;
}

.alt-font {
    font-family: 'BPG Nino Mtavruli Bold', sans-serif;
    line-height: .5;

    &::before{
        content: '';
        display: block;
        padding-top: .3em;
        width: 100%;
        height: 0;
    }
}