.fs-0 {
    font-size: 0;
}

.no-wrap {
    white-space: nowrap;
}

.alt-font {
    font-family: 'BPG Nino Mtavruli Bold', sans-serif;
    line-height: .5;

    &::before{
        content: '';
        display: block;
        padding-top: .3em;
        width: 100%;
        height: 0;
    }
}

.a-block{
    display: block;
    height: 100%;
}

.d-ib {
    display: inline-block;
}

.el-panel {
    background-color: #E91A22;
    border-radius: 1rem/100%;
    border: none;
    border-top: 1px solid #FF9DA1;
    border-bottom: 1px solid #940000;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);

    * {
        color: #fff;
        text-shadow: 0 1px 0 #000;
    }

    a {
        * {
            transition: text-shadow .2s ease;
        }
    }

    a:hover {
        * {
            text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
        }
    }

    a:active {
        * {
            text-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
        }
    }
}

.el-btn {
    @extend .el-panel;
    transition: all .1s ease;
    transition-property: background-color,box-shadow,border-top,border-bottom;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);

    &:hover {
        background-color: #ff3039;
    }

    &:active {
        background-color: #ff474f;
        box-shadow: 0 1px 2px rgba(0,0,0,.75);
        border-top: 1px solid #fff0f0;
        border-bottom: 1px solid #940000;
    }

    &-light {
        @extend .el-btn;
        background-color: #ff3039;

        &:hover {
            background-color: #ff474f;
        }

        &:active {
            background-color: #ff3039;
            box-shadow: 0 1px 1px rgba(0,0,0,.25) inset;
            border-top: 1px solid #940000;
            border-bottom: 1px solid #FF9DA1;
        }
    }
}


.el-white-semi-panel {
    border-bottom: 3px solid #bcbcbc;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 10px 10px;
    background: #fff;
    position: relative;
    padding: 18.5px;
    margin-bottom: 30px;

    &::before, &::after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
    }

    &.with-bg-cont {
        &::before {
            height: 50%;
            top: 0;
            background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            z-index: -1;
        }
    }

    &::after {
        height: 1rem;
        bottom: 100%;
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }
}

.el-light-panel,.el-dark-panel {
    border-bottom: 2px solid #bcbcbc;
    border-radius: 6px;
}

.el-light-panel  {
    box-shadow: 0 4px 8px rgba(0,0,0,.12);
    background: #fbfbfb;
}

.el-dark-panel {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #eee;
}

.image-container {
    border-radius: 4px;
    overflow: hidden;
}

.ratio-container {
    position: relative;

    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 0;
    }

    & > * {
        top: 0;
        left: 0;
        position: absolute;
    }

    &.ratio-1by1 {
        &::before {
            padding-bottom: 100%;
        }
    }

    &.ratio-6by5 {
        &::before {
            padding-bottom: 83.33%;
        }
    }

    &.ratio-5by4 {
        &::before {
            padding-bottom: 80%;
        }
    }

    &.ratio-4by3 {
        &::before {
            padding-bottom: 75%;
        }
    }

    &.ratio-11by8 {
        &::before {
            padding-bottom: 72.72%;
        }
    }

    &.ratio-3by2 {
        &::before {
            padding-bottom: 66.66%;
        }
    }

    &.ratio-14by9 {
        &::before {
            padding-bottom: 64.29%;
        }
    }

    &.ratio-16by10 {
        &::before {
            padding-bottom: 62.5%;
        }
    }

    &.ratio-5by3 {
        &::before {
            padding-bottom: 60%;
        }
    }

    &.ratio-5by3 {
        &::before {
            padding-bottom: 60%;
        }
    }

    &.ratio-16by9 {
        &::before {
            padding-bottom: 56.25%;
        }
    }

    &.ratio-3by1 {
        &::before {
            padding-bottom: 33.33%;
        }
    }

    &.ratio-4by1 {
        &::before {
            padding-bottom: 25%;
        }
    }
}