$red: #E91A22;
$primary: $red;
$link-hover-decoration: none;
$font-family-sans-serif: 'Noto Sans Georgian', sans-serif;
$h1-font-size: 1.45rem;
$h2-font-size: 1.35rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.15rem;
$h5-font-size: 1.05rem;
$headings-margin-bottom: 0;
$headings-font-weight: 600;
$input-btn-focus-width: 0rem;
$btn-padding-y: 1rem;
$btn-padding-x: 1.5rem;
$input-btn-font-size: 1.35rem;
$nav-link-padding-y: 1rem;
$input-font-size: 1rem;
$input-padding-y: .5rem;
$input-padding-x: .5rem;